
/* profile.css */

.company-label {
    color: #888; /* Пример: светло-серый цвет */
    font-weight: normal; /* Можно также использовать другие значения, например, lighter или 400 */
}

.marg {
    margin-left: 300px;
}
